<div th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div id="sidebar-wrapper">
        <div class="sidebar-heading">Student Management</div>
        <div class="list-group list-group-flush">
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/home}" class="list-group-item list-group-item-action"
                   th:classappend="${uri == '/GFQS7D-se/home'} ? ' active'">Home</a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/datamenu}" class="list-group-item list-group-item-action"
                   th:classappend="${uri.startsWith('/GFQS7D-se/datamenu')} ? ' active' : ''">Database</a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/contact}" class="list-group-item list-group-item-action"
                   th:classappend="${uri == '/contact'} ? ' active' : ''">Contact</a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/charts}" class="list-group-item list-group-item-action"
                   th:classappend="${uri == '/GFQS7D-se/charts'} ? ' active' : ''">Charts</a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/crud}" class="list-group-item list-group-item-action"
                   th:classappend="${uri.startsWith('/GFQS7D-se/crud')} ? ' active' : ''">Students CRUD</a>
            </span>
            <span sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a th:href="@{/admin/menu}" class="list-group-item list-group-item-action"
                   th:classappend="${uri.startsWith('/GFQS7D-se/admin')} ? ' active' : ''">Admin</a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/messages}" class="list-group-item list-group-item-action"
                   th:classappend="${uri == '/messages'} ? ' active' : ''">Messages</a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="list-group-item list-group-item-action">Logout</a>
            </span>
            <span sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="list-group-item list-group-item-action">Login</a>
            </span>
            <span sec:authorize="isAnonymous()">
                <a th:href="@{/register}" class="list-group-item list-group-item-action">Register</a>
            </span>
        </div>
    </div>
</div>
